{% extends "base.html" %}
<!-- -->

{% block body %}

<div class="container">
  <h1>Login</h1>
  <div class="card" id="login-card">
    <div>Current user:</div>
    {% if not user.is_anonymous %}
    <ul>
      <li>Username: {{ user.name }}</li>
      <li>Is anonymous: {{ user.is_anonymous }}</li>
      <li>Logged in: {{user.properties.logged_in}}</li>
      <li>Expires: {{user.properties.expires}}</li>
      <li>Roles: {{user.roles}}</li>
    </ul>
    {% else %}
    <div>
      <p>Not logged in</p>
    </div>
    {% endif %}
  </div>
</div>
{% endblock %}
