{% extends "base.html" %} {% block body %}

<div class="container">
  <h1>Login</h1>
  <div class="card" id="login-card">
    <div>Current user:</div>
    {% if not user.is_anonymous %}
    <ul>
      <li>Username: {{ user.username }}</li>
      <li>Is anonymous: {{ user.is_anonymous }}</li>
      <li>Logged in: {{user.properties.logged_in}}</li>
      <li>Lifetime: {{user.properties.lifetime}}</li>
      <li>Roles: {{user.roles}}</li>
    </ul>
    {% else %} not logged{% endif %}
  </div>
</div>

{% endblock %}
