{% extends "base.html" %} {% block body %}

<div class="container">
  <h1>Login</h1>
  <div class="card" id="login-card">
    <div class="card-body">
      <form action="/auth/login" method="post">
        <div class="mb-3">
          <label for="username">Username</label>
          <input
            type="text"
            class="form-control"
            id="username"
            name="username"
            required
          />
        </div>
        <div class="mb-3">
          <label for="password">Password</label>
          <input
            type="password"
            class="form-control"
            id="password"
            name="password"
            required
          />
        </div>
        <div class="mb-3">
          <button type="submit" class="btn btn-primary">Anmelden</button>
        </div>
      </form>
    </div>
  </div>
</div>

{% endblock %}
